<a href="https://colab.research.google.com/github/sruthijonnala/python-practice/blob/main/Copy_of_string_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a program to convert the string "python programming" into title case.
s = 'python programming'
s.title()

'Python Programming'

In [ ]:
#Given the string " hello world ", remove the leading and trailing spaces.

s1 = ' hello world '
s1.strip()

'hello world'

In [ ]:
#Replace all occurrences of "a" with "o" in the string "banana".

str = "banana"
str.replace('a','o')

'bonono'

In [ ]:
#Split the string "apple,banana,grape" into a list of fruits.
str1 = "apple,banana,grape"
str1.split(',')

['apple', 'banana', 'grape']

In [ ]:
#Check if the string "HELLO123" is alphanumeric.
str2 = "HELLO123"
str2.isalpha()

False

In [ ]:
#Convert the string "HeLLo WoRLd" to all lowercase and all uppercase.
s = "HeLLo WoRLd"
s.lower()

'hello world'

In [ ]:
#Convert the string "learn python programming" into title case
s="learn python programming"
s.title()

'Learn Python Programming'

In [ ]:
#Remove the extra spaces from the string " Hello, World! ".
s = " Hello, World! "
s.strip()

'Hello, World!'

In [ ]:
#Replace the word "bad" with "good" in the string "This is a bad day".
s = "This is a bad day"
s.replace('bad','good')

'This is a good day'

In [ ]:
#Split the string "apple|banana|cherry" into a list using the separator "|"
s = "apple|banana|cherry"
s.split('|')

['apple', 'banana', 'cherry']

In [ ]:
#Write a program to find the index of the first occurrence of the substring "world" in the string "Hello, world!"
text = "Hello, world!"
text.find('world')

7

In [ ]:
#Join the list ["Data", "Science", "Rocks"] into a single string with spaces between the words.
text = ["Data", "Science", "Rocks"]        #joining list
result = ' '.join(text)
print(result)

text2 = ('hello', 'world', 'python')        #joining tuple
result = ' '.join(text2)
print(result)

Data Science Rocks
hello world python

In [ ]:
#Count how many times the letter "e" appears in the string "Welcome to Python".
str = "Welcome to Python"
str.count('e')

2

In [ ]:
#Format the string "Name: {}, Age: {}" with "Alice" and 25 as values.
str = "Name: {}, Age: {}"
str.format('alice',25)

'Name: alice, Age: 25'