<a href="https://colab.research.google.com/github/sruthijonnala/python-practice/blob/main/list_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a program that adds the number 10 to the list [1, 2, 3] using the
list1 = [1, 2, 3]
list1.append(10)
list1

#How can you add the string "Python" to the list ["Java", "C++"]
programming = ["Java", "C++"]
programming.append('python')
programming

['Java', 'C++', 'python']

In [ ]:
#Use the .extend() method to add the list [4, 5, 6] to the list [1, 2, 3].
list1 = [4,5,6]
list2 = [1,2,3]
list1.extend(list2)
list1

[4, 5, 6, 1, 2, 3]

In [ ]:
#Write a program to insert the number 100 at index 2 in the list [10, 20, 30, 40].
list1 = [10, 20, 30, 40]
list1.insert(2,100)
list1

[10, 20, 100, 30, 40]

In [ ]:
#How can you insert the string "Hello" at the start of the list ["World", "Python"]?
list1 = ["World", "Python"]
list1.insert(0,'hello')
list1

['hello', 'World', 'Python']

In [ ]:
#Remove the first occurrence of the number 5 from the list [1, 2, 5, 3, 5]
list1 = [1, 2, 5, 3, 5]
list1.remove(2)
list1

[1, 5, 3, 5]

In [32]:
#Use the .pop() method to remove the last element from the list [10, 20, 30] and print the list after removal.
l = [10, 20, 30]
l.index(30)

l.pop(2)
l

[10, 20]

In [34]:
#Write a program to clear all the elements from the list [1, 2, 3, 4] using .clear().
s = [1, 2, 3, 4]
s.clear()
s

[]

In [36]:
#Find the index of the element 3 in the list [1, 2, 3, 4, 5].
a = [1, 2, 3, 4, 5]
a.index(3)

2

In [37]:
#Write a program to count the number of occurrences of "apple" in the list ["apple", "banana", "apple", "cherry"].
str = ["apple", "banana", "apple", "cherry"]
str.count('apple')

2

In [38]:
#Sort the list [4, 2, 5, 1, 3] in ascending order using .sort().
list1= [4, 2, 5, 1, 3]
list1.sort()
list1

[1, 2, 3, 4, 5]

In [39]:
#Write a program to sort the list ["banana", "apple", "cherry"] in reverse alphabetical order using .sort().
str1 = ["banana", "apple", "cherry"]
str1.sort()
str1

['apple', 'banana', 'cherry']

In [40]:
#How can you reverse the list ["a", "b", "c", "d"] using .reverse()?
str1 = ["a", "b", "c", "d"]
str1.reverse()
str1

['d', 'c', 'b', 'a']

In [41]:
#How would you create a copy of the list ["apple", "banana", "cherry"] and assign it to a new variable?
str1 = ["apple", "banana", "cherry"]
str1.copy()
str1

['apple', 'banana', 'cherry']

In [44]:
#Write a program to return a sorted version of the list [5, 2, 9, 1, 3] using sorted().
list1 = [5, 2, 9, 1, 3]
list2 = sorted(list1)
list2

[1, 2, 3, 5, 9]

In [46]:
#How can you find the length of the list ["Python", "Java", "C++"]?
str1 = ["Python", "Java", "C++"]
len(str1)

3